body {
    margin: 0;
    padding: 0;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-style: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: #ffffff;
}

#cabecalho {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 150px;
    background-color: #343a40;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    color: #ffffff;
    width: 100%;
}

#paginas {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 2%;
}

#paginas h2 {
    margin-left: 40px;
    transition: 0.4s;
}

#paginas h2:hover {
    color: rgb(13, 191, 214);
    transition: 0.4s;
}

#map-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

#map {
    height: 500px;
    width: 500px;
    border: 2px solid #333;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}
